<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyh.wyf.dao.batis.XzqhMapper">
	<!-- 省级列表 -->
	<select id="getAllProvince" resultType="TProvince">
		select code_p,name from tprovince
	</select>
	<!--根据省份带出所属市级  -->
	 <select id="getAllCity" resultType="TCity">
		select t.code_c,t.name from tcity t where t.code_p = #{code_p} 	
	</select> 
	<!--根据市级带出所属区域  -->
	 <select id="getAllArea" resultType="TArea">
		select t.code_a,t.name from tarea t where t.code_c = #{code_c}
	</select>


</mapper>
