<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyh.wyf.dao.batis.UserMapper">

	<select id="login" resultType="TUser">
		select * from TUSER where
		UNAME=#{0} and PWD=#{1}
	</select>

<!-- 	 <select id="getUserList"  resultType="java.util.Map">
 -->	 <select id="getUserList"  resultType="java.util.Map" parameterType="Map">
       select  *  from TUSER t 
       <!--  where t.uname like  concat (concat('%',#{0}),'%')
       and t.pwd like concat(concat('%',#{1}),'%')  -->
       <where>
       			 <if test="uname != null and uname !='' ">
       				t.uname like concat(concat('%',#{uname}),'%')
       			</if>
       			 <if test="pwd != null and pwd !='' ">
       			and	t.pwd like concat(concat('%',#{pwd}),'%') 
       			</if>
       			</where>
    </select>
    
	<update id="updateUserAccount">
		update TUSER set account =
		account+#{1} where UNAME=#{0}
	</update>
	
	<select id="validUserName" resultType="int">
	    select count(*)from TUSER where UNAME=#{UNAME} 
	</select>
	
	<insert id="addUser" parameterType="java.util.HashMap">
	     insert into TUSER 
	     <trim prefix="(" suffix=")" suffixOverrides=",">
	    	 <if test="uname != null and uname != ''">
   			 uname,
   			 </if>
   			 <if test="pwd != null and pwd != ''">
   			  pwd,
   			 </if>
   			 <if test="account != null and account != ''">
   			  account,
   			 </if>
   			 <if test="role != null and role != ''">  
   			  role,
   			 </if> 
   			  <if test="sex != null and sex != ''"> 
   			  sex, 
   			 </if>
   			  <if test="birth != null and birth != ''">
   			  birth,
   			 </if> 
   			 <if test="province != null and province != ''">
   			  province, 
   			 </if>
   			 <if test="city != null and city != ''">
   			  city, 
   			 </if>
   			 <if test="area != null and area != ''">
   			  area, 
   			 </if>
   			 <if test="email != null and email != ''">
   			  email
   			 </if>
   			</trim>
 		 values
 		 <trim prefix="(" suffix=")" suffixOverrides=",">
    		<if test="uname != null and uname != ''">
				#{uname},
			</if>
    		<if test="pwd != null and pwd != ''">
				#{pwd},
			</if>
    		<if test="account != null and account != ''">
				#{account},
			</if>
    		<if test="role != null and role != ''">
				#{role},
			</if>
    		<if test="sex != null and sex != ''">
				#{sex},
			</if>
    		<if test="birth != null and birth != ''">
				 to_date ( #{birth}, 'YYYY/MM/DD' ),
			</if>
    		<if test="province != null and province != ''">
				#{province},
			</if>
    		<if test="city != null and city != ''">
				#{city},
			</if>
    		<if test="area != null and area != ''">
				#{area},
			</if>
    		<if test="email != null and email != ''">
				#{email}
			</if>
			</trim>
	</insert>

	<insert id="addBuyRecord" parameterType="TBuyRecord" >
		insert into TBUYRECORD values ((select NVL(max(BUYID),0)+1 from TBUYRECORD),#{UNAME},#{BUYTIME},#{ALLMONEY})
	</insert>
	
	<insert id="addBuyDetail" parameterType="TBuyDetail" >
		insert into tbuydetail values( (select nvl(max(autoid),0)+1 from tbuydetail),#{isbn},(select nvl(max(buyid),0) from tbuyrecord),#{buycount})
	</insert>
	
	<select id="getUserBuyRecordAllCount" resultType="int">
	  select count(*)  from (
	   select d.bcount,bk.bname,bk.isbn,bk.press,bk.price,bk.pdate,br.allmoney,br.buytime,br.uname,br.buyid
		 from tbuydetail d,tbuyrecord br,tbook bk
		 where br.buyid = d.buyid and bk.isbn = d.isbn
		 <if test="uname != null and uname !='' ">
			and uname like  concat (concat('%',#{uname}),'%')
		 </if>
		 <if test="beginDate != null">
		 	and buytime>= #{beginDate}
		 </if>
		<if test="endDate!=null">
			<![CDATA[ and buytime<=#{endDate} ]]> 
		</if>		
	  )
	</select>
	
	<select id="getUserBuyRecord" resultType="BuyRecord">
		select * from   (select rownum rn ,tb.* from (
           select 
           		d.bcount,
          	    bk.bname,
          	    bk.isbn,
          	    bk.press,
          	    bk.price,
          	    bk.pdate,
          	    br.allmoney,
          	    br.buytime,br.uname,br.buyid
		 from tbuydetail d,tbuyrecord br,tbook bk
		 where br.buyid = d.buyid and bk.isbn = d.isbn
		  <if test="uname != null and uname !='' ">
			and uname like  concat (concat('%',#{uname}),'%')
		 </if>
		 <if test="beginDate != null">
		 	and buytime>= #{beginDate}
		 </if>
		<if test="endDate!=null">
			<![CDATA[ and buytime<=#{endDate} ]]> 
		</if>	
 		<![CDATA[ )tb) where rn >= #{iStart} and rn<#{iEnd} ]]>  
	</select>


</mapper>
