<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:aop="http://www.springframework.org/schema/aop"  
  xmlns:context="http://www.springframework.org/schema/context"  
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
  http://www.springframework.org/schema/aop   
  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
  http://www.springframework.org/schema/context  
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
                     
			<context:component-scan base-package="com.cyh.wyf.controller" />
			<bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <ref bean="mappingJackson2HttpMessageConverter" />  
            </list>  
        </property>  
    </bean>  
    <bean id="mappingJackson2HttpMessageConverter"  
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
        <property name="supportedMediaTypes">  
            <list>  
                <value>text/html;charset=UTF-8</value>  
                <value>text/json;charset=UTF-8</value>  
                <value>application/json;charset=UTF-8</value>  
            </list>  
        </property>  
    </bean>  
		
	<bean id="jspviewResolver"  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/WEB-INF/views/" />
    </bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="52428800" />
	</bean>
	
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Throwable">/error.jsp</prop>
				<prop
					key="org.springframework.web.multipart.MaxUploadSizeExceededException">/error/OverMaxUploadSize.jsp</prop>
			</props>
		</property>
	</bean>
	
	
	
	<bean id="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="officeHoursInterceptor" />
			</list>
		</property>
	</bean>
	<bean id="officeHoursInterceptor" class="com.cyh.wyf.intercept.TimeBasedAccessInterceptor">
		<property name="openingTime" value="0" />
		<property name="closingTime" value="24" />
	</bean>

   
   
   <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
			   <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			   <ref bean="mappingJacksonHttpMessageConverter" />			   
			</list>
		</property>
	</bean>
	
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=gbk</value>
				 <value>application/json;charset=utf-8</value>  
			</list>
		</property>
	</bean>
   
   
   
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="system" />
		<property name="password" value="920513" />
   </bean>  
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>   
                 
    <tx:annotation-driven transaction-manager="txManager" />

   	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>     
	
	<context:annotation-config />           
    <context:component-scan base-package="com.cyh.wyf.biz" />
    <context:component-scan base-package="com.cyh.wyf.dao" />
	
	<bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" lazy-init="true">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

   <bean id="userMapper" parent="baseMapper">
     <property name="mapperInterface" value="com.cyh.wyf.dao.batis.UserMapper" />     
   </bean>

   <bean id="bookMapper" parent="baseMapper">
     <property name="mapperInterface" value="com.cyh.wyf.dao.batis.BookMapper" />
   </bean>
   
   <bean id="xzqhMapper" parent="baseMapper">
     <property name="mapperInterface" value="com.cyh.wyf.dao.batis.XzqhMapper" />
   </bean>
   
    <bean id="easyUIMapper" parent="baseMapper">
     <property name="mapperInterface" value="com.cyh.wyf.dao.batis.EasyUIMapper" />
   </bean>
   

 	
</beans> 